<main class="wrapper">
  <form action="/search" role="search" method="POST">
    <input
      type="search"
      name="searchTerm"
      id="search"
      placeholder="search for a post"
      class="search"
    />
  </form>
</main>
