<main class="wrapper">
  <form action="/search" role="search" method="POST"></form>
  <input
    type="search"
    name="search"
    id="search"
    placeholder="search for a keyword"
    class="search"
  />
</main>
