<main class="wrapper">
    <h1 class="mbs-4"><%- locals.title %></h1>
    <h2 class="mbs-1"><%- locals.description %></h2>
    <h2 class="date"><%- locals.date %></h3>
    <div class="mb-4">
      <img src="/assets/img/smoothies.png" alt="smoothies" style="margin-bottom: 4rem;">
     <p>It can be a taboo topic, but constipation is a common concern that can happen to anyone. There are natural remedies readily available in the form of fiber-rich foods, including fruits and vegetables.</p>
     <p>These wholesome ingredients not only help relieve constipation but also offer a myriad of health benefits. And what better way to incorporate them into your diet than by blending them into delicious and refreshing smoothies?</p>
     <h3>Can smoothies help with constipation?</h3>
     <p>Yes! Smoothies made with high fiber fruits, such as berries, bananas, and kiwis, along with added sources of fiber such as chia seeds and flaxseed, can provide a good amount of dietary fiber that can help relieve constipation.   </p>
     <p>Adding yogurt can also be a good option for addressing constipation because it contains probiotics, which can promote gut health and help relieve constipation symptoms.   </p>
     <p>In fact, some <a href="#">evidence</a> suggests Trusted Source that higher fruit intake is linked to increased levels of beneficial bacteria such as Lactobacillus acidophilus and Bifidobacterium, which can positively affect gut health and constipation.</p>
     <h3>The best smoothie recipes for constipation</h3>
     <p>When it comes to crafting delicious smoothies, the possibilities are endless. Here are some fiber-rich options to help you stay regular.</p>
     <h3>For toddlers</h3>
     <p>When preparing smoothies to help with constipation in toddlers, it’s important to choose gentle ingredients that still get the job done.</p>
     <p>Remember to introduce new <a href="#">ingredients</a> gradually to ensure that your toddler tolerates them well. Consult a pediatrician if you have any concerns about your child’s diet or constipation.</p>
    </div>
  </main>
